<div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 border-1 border rounded-3 p-3 secao">
        <div class="row py-3">
            <div class="col-12 col-md-4"><label for="metodo">Escolha o método: </label>
            </div>
            <div class="col-12 col-md-8">
                <div>
                    <input type="radio" id="cartao" name="metodo" onclick="altcartao()">
                    <label for="cartao">Cartão</label>
                </div>
                <div>
                    <input type="radio" id="pix" name="metodo"  onclick="altpix()">
                    <label for="pix">Pix</label>
                </div>
                <div>
                    <input type="radio" id="boleto"  name="metodo" onclick="altboleto()">
                    <label for="boleto">Boleto</label>
                </div>
            </div>
        </div>
        <div id="divcartao" style="display: none;">
            <form>
                <div class="form-group py-2 text-align">
                    <label for="pagamento_cartao">Nome no cartão</label>
                    <input type="text" class="form-control bg-light shadow-none shadow-none" id="nome"
                        placeholder="Nícolas Sanson Bassini">
                </div>
                <div class="form-group py-2 text-align">
                    <label for="pagamento_cartao">Número no cartão</label>
                    <input type="text" class="form-control bg-light shadow-none" id="numero"
                        placeholder="0000.0000.0000.0000">
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group py-2 text-align">
                            <label for="pagamento_cartao">Data de expiração</label>
                            <input type="text" class="form-control bg-light shadow-none" id="data"
                                placeholder="00/00/0000">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group py-2 text-align">
                            <label for="pagamento_cartao">CVC/CVV</label>
                            <input type="text" class="form-control bg-light shadow-none" id="cvc" placeholder="000">
                        </div>
                    </div>
                </div>
                <div class="py-2 text-center">
                <a asp-action="Index" asp-controller="Home" class="btn btn-primary botao">Finalizar Pagamento</a>
                </div>
            </form>
        </div>


        <div id="divpix" style="display: none;">
            <ul>
                <li class="py-2 text-align">
                    1 - Abra o app ou banco de sua preferência. Escolha a opção pagar com código Pix “copia e
                    cola”, ou código QR.
                </li>
                <li class="py-2 text-align">
                    2 - Copie e cole o código, ou escaneie o código QR com a câmera do seu celular. Confira
                    todas as informações e autorize o pagamento.
                </li>
                <li class="py-2 text-align">
                    3 - Você vai receber a confirmação do pagamento no seu e-mail. E pronto!
                </li>
                <li py-2>
                    <img src="~/img/qrcode.jpeg" class="mx-auto d-block">
                </li>
            </ul>
        </div>

        <div id="divboleto" style="display: none;">
            <ul>
                <li class="py-2">
                    Número do pedido:
                </li>
                <li class="py-2 text-center">
                    84610000001-3 08600024020-9 02408102263-4 61827041102-7
                </li>
                <li class="py-2">
                    <img src="~/img/codigodebarras.jpeg" style="width: 100%;">
                </li>
                <li class="py-2">
                    Utilize este código de barras e pague o boleto pelo celular ;
                </li>
                <li class="py-2 text-center">
                    <a href="" class="btn btn-primary botao">Baixar Boleto</a>
                </li>
            </ul>
        </div>

        
    </div>
</div>