@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600;700&display=swap');

body {
    background-color: #F3F3F3;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.secao {
    background-color: #FFFEFE;
}

.estrelas {
    display: inline-flex;
    font-size: 25px;
    color: #fec106;
}

.botao {
    background-color: #217bac;
    border-radius: 20px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    color: white;
}

.botao:hover {
    background-color: #0d3d57;
    color: white;
    transition: all 300ms;
}

.offcanvas-body {
    background-color: #FFFEFE;
}

.text-align{
    text-align: left;
}

.botao-destaque {
    color: white;
    background-color: #fec106;
    border-radius: 20px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}

.botao-destaque:hover{
    background-color: #a37f13;
    color: white;
    transition: all 300ms;
}

.fundocinza{
    background-color: #FFFEFE;
}

.carrossel{
    max-height: 500px;
    max-width: 500px;
    overflow: hidden;
    position: relative;
}

.carrossel_images{
    display: flex;
    width: 100%;
    height: 100%;
}

#btn_proximo{
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

#btn_anterior{
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.rm-boxshadow{
    box-shadow: none !important;
}

.filtros{
    background-color: #FFFEFE;
}