.secao{
    max-width: 500px;
    text-align: center;
}

.filtros{
    background-color: #FFFEFE;
}

.botao-google {
    background-color: #000000;
    color: white;
    border-radius: 20px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    text-decoration: none;
    width: 150px;
}

.botao-google:hover {
    background-color: rgb(180, 41, 41);
    color: white;
    transition: all 300ms;
}

.botao-paypal {
    background-color: #000000;
    color: white;
    border-radius: 20px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    text-decoration: none;
    width: 150px;
}

.botao-paypal:hover {
    background-color: rgb(62, 94, 199);
    color: white;
    transition: all 300ms;
}

.alinhar-esquerda{
    text-align: left;
}

.label{
    display: flex;
    flex-direction: column;
    padding:10px;
}

.entitem{
    margin-top: 10px;
    padding:5px;
    background-color: #edeced;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    width: 390px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;

}

.text-align{
    text-align: left;
}

.display-flex{
    display: inline-block;
    align-items:flex-start;
}
