<div class="col-12 col-lg-7 col-xl-6">
                    <div class="border-1 border rounded-3 secao p-3 fit-content">
                        <center>
                        <h3>Nome do Quarto/Pousada, nº</h3>
                        
                            <div class="carrossel rounded-3 my-3">
                                <i class="bi bi-arrow-left" id="btn_anterior"></i>
                                <i class="bi bi-arrow-right" id="btn_proximo"></i>
                                <div class="carrossel_images">
                                    <img src="img/ex04.png" id="ultimo_copia">
                                    <img src="img/ex01.png">
                                    <img src="img/ex02.png">
                                    <img src="img/ex03.png">
                                    <img src="img/ex04.png">
                                    <img src="img/ex01.png" id="primeiro_copia">
                                </div>
                            </div>
                        
                        <h3>Inclui:</h3>
                        <input type="checkbox" id="suite" name="suite" checked>
                        <label for="suite">Suíte</label>
                        <input type="checkbox" id="animais" name="animais" checked>
                        <label for="animais">Permitido animais</label>
                        <input type="checkbox" id="cafe" name="cafe" checked>
                        <label for="cafe">Café da manhã</label>
                        <input type="checkbox" id="wifi" name="wifi" checked>
                        <label for="wifi">Wi-fi</label>
                        </center>
                    </div>

                </div>
                <div class="col-12 col-lg-5 col-xl-4">
                    <div class="border-1 border rounded-3 secao p-3 mt-3 mt-lg-0 quarto">
                        <center>
                            <h3>Descrição: </h3>
                        <p>Breve descrição do quarto de hotel ou pousada que servirá como identificação e diferencial</p>
                        <h3>Selecione as opções para aluguel: </h3>
                        </center>
                        
                        <div>
                            <div class="row my-4">
                                <div class="col-4"><label for="pessoas">Número de Pessoas: </label>
                                </div>
                                <div class="col-8">
                                    <select class="form-select" id="pessoas">
                                        <option selected value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row my-4">
                                <div class="col-4"><label for="mes">Mês da Viagem</label>
                                </div>
                                <div class="col-8">
                                    <select class="form-select" id="mes">
                                        <option selected value="1">Setembro 2022</option>
                                        <option value="2">Outubro 2022</option>
                                        <option value="3">Novembro 2022</option>
                                        <option value="4">Dezembro 2022</option>
                                        <option value="5">Janeiro 2023</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-4"><label for="dia">Dia de Ida</label>
                                </div>
                                <div class="col-8">
                                    <select class="form-select" id="dia">
                                        <option selected value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-4"><label for="periodo">Período de Estadia</label>
                                </div>
                                <div class="col-8">
                                    <select class="form-select" id="periodo">
                                        <option selected value="1">1 Dia</option>
                                        <option value="2">2 Dias</option>
                                        <option value="3">3 Dias</option>
                                        <option value="4">4 Dias</option>
                                        <option value="5">5 Dias</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row mt-3">
                            <div class="col-7">
                                <h3>Valor: R$ 999,99</h3>
                            </div>
                            <div class="col-5 text-end"><a href="alugar.html" class="btn btn-primary botao">Próximo</a>
                            </div>
                        </div>


                    </div>

                </div>
                <script src="js/carousel.js"></script>