@{
    Layout = "_LayoutVazio";
}
@model AprovacaoViewModel;

<div class="container">
        <div class="row align-items-center vh-100">
            <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 border-1 border rounded-3 p-3 secao">
                <div class="py-2">
                    <div>
                        <h2 class="text-center">Reprovar item</h2>
                    </div>
                    <hr>
                    <form method="post" asp-action="ProcessReprovar">
                        <input type="hidden" asp-for="@Model.IdAprovar">
                    <div>
                        <p class="text-center">Tem certeza que deseja reprovar a acomodação selecionada?</p>
                    </div>
                    <div style="text-align: center;"><a class="botao text-decoration-none" asp-action="Index">
                            Cancelar 
                        </a>
                        <button class="botao-vermelho" type="submit">
                            Reprovar
                        </button>
                    </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>