@{
    Layout = "_LayoutHero";
}
<div class="container-fluid my-4 my-md-0">
        <div class="row text-center g-0 mb-5" style="background-color: white;" >
            <div class="col-md-5 align-self-center">
                <h2 class="titulo" style="color: #0f3950; font-size: 35px;">Hostello, hospedagens mais acessíveis em todo o Brasil.</h2>
            </div>
            <div class="col-md-7 mt-2">
                <img class="imagem img-header" src="~/img/10811.jpg" class="img-header">
            </div>
        </div>
    </div>
        

        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-center">Pousadas com melhor avaliação</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-3 col-12 p-4">
                    <div>
                        <img class="imagem" src="~/img/ex01.png">
                    </div>
                    <h4 class="title-sm mt-4">Lorem ipsum</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!
                    </p>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 col-12 p-4">
                    <div>
                        <img class="imagem" src="~/img/ex01.png">
                    </div>
                    <h4 class="title-sm mt-4">Lorem ipsum</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!
                    </p>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 col-12 p-4">
                    <div>
                        <img class="imagem" src="~/img/ex01.png">
                    </div>
                    <h4 class="title-sm mt-4">Lorem ipsum</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!
                    </p>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 col-12 p-4">
                    <div>
                        <img class="imagem" src="~/img/ex01.png">
                    </div>
                    <h4 class="title-sm mt-4">Lorem ipsum</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!
                    </p>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 col-12 p-4">
                    <div>
                        <img class="imagem" src="~/img/ex01.png">
                    </div>
                    <h4 class="title-sm mt-4">Lorem ipsum</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!
                    </p>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 col-12 p-4">
                    <div>
                        <img class="imagem" src="~/img/ex01.png">
                    </div>
                    <h4 class="title-sm mt-4">Lorem ipsum</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!
                    </p>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 col-12 p-4">
                    <div>
                        <img class="imagem" src="~/img/ex01.png">
                    </div>
                    <h4 class="title-sm mt-4">Lorem ipsum</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!
                    </p>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3 col-12 p-4">
                    <div>
                        <img class="imagem" src="~/img/ex01.png">
                    </div>
                    <h4 class="title-sm mt-4">Lorem ipsum</h4>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem incidunt sunt molestiae!
                    </p>
                </div>
            </div>
        </div>


    <div class="container">
        <div class="row">
            <div class="col-12 mb-5">
                <h2 class="text-center">Alguns comentários</h2>
            </div>
        </div>
        <div class="row gy-4">
            <div class="col-lg-4 col-sm-6 feature d-flex">
                <div class="icon-box me-3">
                    <i class="bi bi-person-circle"></i>
                </div>
                <div>
                    <h5 class="title-sm">Usuário</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit incidunt inventore quibusdam
                        accusamus esse.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 feature d-flex">
                <div class="icon-box me-3">
                    <i class="bi bi-person-circle"></i>
                </div>
                <div>
                    <h5 class="title-sm">Usuário</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit incidunt inventore quibusdam
                        accusamus esse.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 feature d-flex">
                <div class="icon-box me-3">
                    <i class="bi bi-person-circle"></i>
                </div>
                <div>
                    <h5 class="title-sm">Usuário</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit incidunt inventore quibusdam
                        accusamus esse.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 feature d-flex">
                <div class="icon-box me-3">
                    <i class="bi bi-person-circle"></i>
                </div>
                <div>
                    <h5 class="title-sm">Usuário</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit incidunt inventore quibusdam
                        accusamus esse.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 feature d-flex">
                <div class="icon-box me-3">
                    <i class="bi bi-person-circle"></i>
                </div>
                <div>
                    <h5 class="title-sm">Usuário</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit incidunt inventore quibusdam
                        accusamus esse.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 feature d-flex">
                <div class="icon-box me-3">
                    <i class="bi bi-person-circle"></i>
                </div>
                <div>
                    <h5 class="title-sm">Usuário</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit incidunt inventore quibusdam
                        accusamus esse.</p>
                </div>
            </div>
        </div>
    </div>

    <section id="team" class="row g-0 py-0 mt-5 text-center">
        <div class="mb-3">
            <h2>Conheça nossas vantagens:</h2>
        </div>
        <div class="col-lg-3 col-sm-6 team-member align-self-center">
            <div class="p-4">
                <h5 class="title-sm mt-3 mb-0 text-white">Alguma coisa</h5>
                <small class="text-white">Alguma outra coisa</small>
                <div class="hline"></div>
                <p class="text-white">Well skillful lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 team-member even align-self-center">
            <div class="p-4">
                <h5 class="title-sm mt-3 mb-0 text-white">Alguma coisa</h5>
                <small class="text-white">Alguma outra coisa</small>
                <div class="hline"></div>
                <p class="text-white">Well skillful lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 team-member align-self-center">
            <div class="p-4">
                <h5 class="title-sm mt-3 mb-0 text-white">Alguma coisa</h5>
                <small class="text-white">Alguma outra coisa</small>
                <div class="hline"></div>
                <p class="text-white">Well skillful lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC</p>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 team-member even align-self-center">
            <div class="p-4">
                <h5 class="title-sm mt-3 mb-0 text-white">Alguma coisa</h5>
                <small class="text-white">Alguma outra coisa</small>
                <div class="hline"></div>
                <p class="text-white">Well skillful lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC</p>
            </div>
        </div>
    </section>