@{
    Layout = "_LayoutVazio";
}

<div class="row align-items-center vh-100">
            <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4 border-1 border rounded-3 p-3 secao">
                <div class="py-2">
                    <div>
                        <h2 class="py-2 text-center">Efetuar Login:</h2>
                    </div>
                    <div>
                        <form>
                            <div class="form-group py-2">
                                <label for="cadastro"><span id="email" onclick="descricao(this)">E-mail:</span></label>
                                <input type="text" class="form-control shadow-none" id="usuario">
                            </div>
                            <div class="form-group py-2">
                                <label for="InputPassword"><span id="senha" onclick="descricao(this)">Senha:</span></label>
                                <input type="password" class="form-control shadow-none" id="senha">
                            </div>
                            <div class="text-center">
                                <div class="py-3">
                                    <a asp-action="Index" asp-controller="Pesquisa" class="btn btn-primary botao">Login</a>
                                </div>
                                <div>
                                    <a asp-action="Recuperar" class="text-decoration-none">Esqueceu a senha?</a>
                                </div>
                                <div>
                                    Não tem um login?<a asp-action="Create" asp-controller="Cliente" class="text-decoration-none"> Registre-se</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
<script src="~/js/script_descricao.js" defer></script>