@model Avaliacao;

<div class="row">
                <div class="col-12 col-md-10 offset-md-1 offset-lg-0 col-lg-7 col-xl-6 offset-xl-1">
                    <div class="border-1 border rounded-3 secao p-3 fit-content text-center">

                        <h3>Nome do Quarto/Pousada, nº</h3>
                        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                                    aria-label="Slide 4"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/img/ex01.png" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/img/ex02.png" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/img/ex03.png" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/img/ex04.png" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>

                        <h3>Inclui:</h3>
                        <input type="checkbox" id="suite" name="suite" checked>
                        <label for="suite">Suíte</label>
                        <input type="checkbox" id="animais" name="animais" checked>
                        <label for="animais">Permitido animais</label>
                        <input type="checkbox" id="cafe" name="cafe" checked>
                        <label for="cafe">Café da manhã</label>
                        <input type="checkbox" id="wifi" name="wifi" checked>
                        <label for="wifi">Wi-fi</label>

                    </div>

                </div>
                <div class="col-12 col-md-10 offset-md-1 offset-lg-0 col-lg-5 col-xl-4">
                    <form method="POST">
                    <div class="border-1 border rounded-3 secao p-3 mt-3 mt-lg-0">
                        <h5 class="text-center">Descrição da acomodação: </h5>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam adipisci ex molestiae corporis
                            non in aperiam incidunt persp dolorum, voluptatem iusto reiciendis culpa illum
                            perferendis magni veniam at facilis ea!
                        </p>
                        <h5 class="text-center">Classifique o estabelecimento: </h5>
                        <div class="estrelas justify-content-center w-100">
                            <i id="estrela1" onclick="avaliar1()"></i>
                            <i id="estrela2" onclick="avaliar2()"></i>
                            <i id="estrela3" onclick="avaliar3()"></i>
                            <i id="estrela4" onclick="avaliar4()"></i>
                            <i id="estrela5" onclick="avaliar5()"></i>
                        </div>

                        <h5 class="text-center mt-2">Adicionar avaliação: </h5>
                        <textarea class="form-control shadow-none" style="resize: none;" asp-for="@Model.Comentario"
                            rows="3"></textarea>

                        <input type="hidden" value="3" asp-for="@Model.NotaAvaliacao">
                        <input type="hidden" value="1" asp-for="@Model.FkAcomodacao">
                        <input type="hidden" value="2" asp-for="@Model.FkCliente">

                        <div class="row mt-3">

                            <div class="col-12 text-end"><button type="submit" class="btn btn-primary botao">Concluir</button>
                            </div>
                        </div>
                    </div>
                    </form>

                </div>
            </div>
<script src="~/js/script_avaliar.js"></script>